**/*.depend
**/*.layout
**/bin
**/obj

# Archivos creados por programas
Ejercicios\ Archivos/Ejercicio01/floats.bin
Ejercicios\ Archivos/Ejercicio05/archivo3.ints
Ejercicios\ Archivos/Ejercicio06/alumnos.bin
Ejercicios\ Archivos/Ejercicio07/alumnos.bin
Ejercicios\ Archivos/Ejercicio08/alumnos.bin
